svg {
	margin-right: 50px;
}

.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis path {
	display: none;
}

.axis text {
	font-family: sans-serif;
	font-size: 12px;
}

.label text {
	font-family: sans-serif;
	font-size: 12px;
}

.title {
	font-family: sans-serif;
	font-size: 15px;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

p, label {
	font-size: 25px;
	font-family: "Arial", Arial, serif;
}

label {
	margin-right: 30px;
}
